*
{
    box-sizing: border-box;
    }
    body { 
    margin: 0;
    }
    /*PALETA DE CORES DO PROJETO (COOLORS.CO)
    Fundo: #F8FAFC
    Texto: #0F172A
    Destaque: #4F46E5
    Detalhe: #E2E8F0*/

    body{
        font-family: 'Arimo', sans-serif;
        font-size: 1rem;
        line-height: 1.6;
        background-color: #F8FAFC;
        color: #0F172A;
        padding: 24px;
      }
    
    button, .btn {
        background-color: #4F46E5;
        color: #FFFFFF;
    }

    .card, hr {
        border: 1px solid #E2E8F0;
      }

      h1{
        font-family: 'Clarity City', sans-serif;
        font-size: 2.5;
      }

      h2{
        font-family: 'Clarity City', sans-serif;
        font-size: 1.75;
      }

      h3{
        font-family: 'Clarity City', sans-serif;
        font-size: 1.25;
      }

      header, footer{
        background-color: #0F172A;
        color: #FFFFFF;
        padding: 24px;
      }

      main{
        max-width: 900px;
        margin: 0 auto;
        padding: 16px;
      }

      nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 12px;
      }

      nav a{
        text-decoration: none;
        color: #4F46E5;
        font-weight: 500;
        display: inline-block;
      }

      nav a :hover{
        background-color: #E2E8F0;
        padding: 8px 12px;
        border-radius: 6px;
      }

      table {
        width: 100%;
        border: 1px;
        border-collapse: collapse;
      }

      table th {
        background-color: #E2E8F0;
        font-weight: bold;
      }

      table th, td{
        padding: 12px;
      }

      input, select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
      }

      input :focus, select :focus, textarea :focus{
        border: 2px solid #E2E8F0;
        outline: none;
      }

      button[type="submit"], input[type="submit"] {
        background-color: #4F46E5;
        color: #FFFFFF;
        border: none;       
        padding: 12px 24px;
        border-radius: 6px; 
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
      }

  .destaque {
  background-color: #E2E8F0;
  border-left: 4px solid #4F46E5;
  padding: 16px;
  border-radius: 0 6px 6px 0;
}

p {
  color: red;
}
      